<!doctype html>
<html ng-app>
<head>

 <!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

 <!-- CSS and Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">

 <!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>

</head>





<body ng-init='page=1'>



	<div ng-show="page === 1">

     		<h1 class="dgrey">My Name<h1>
			<h2 class="dgrey">myemail[at]email.com<h2>

			<img class="img-responsive" src="http://www.picrolls.com/wallpaper/24/24322-3200_Landscape_for_Extra-wide_Screens_Vol_2_No_16.jpg">

			<div class="row">
<div class="col-md-4 col-sm-6">

<p class="lgrey"> Oooo a forest. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum tortor eu ullamcorper sollicitudin. Etiam vitae suscipit mi. Integer consectetur ipsum eget turpis euismod rutrum. Morbi scelerisque sed sapien id placerat. Donec a velit urna. Vestibulum luctus justo porta ligula ullamcorper feugiat. Nam dignissim aliquam metus, nec ullamcorper arcu finibus eget.</p> 

</div>

<div class="col-md-4 col-sm-6">

<p class="lgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum tortor eu ullamcorper sollicitudin. Etiam vitae suscipit mi. Integer consectetur ipsum eget turpis euismod rutrum. Morbi scelerisque sed sapien id placerat. Donec a velit urna. Vestibulum luctus justo porta ligula ullamcorper feugiat. Nam dignissim aliquam metus, nec ullamcorper arcu finibus eget.</p> 

</div>
</div>




      </div>

    <div ng-show="page === 2">
      		<h1 class="dgrey">My Name<h1>
			<h2 class="dgrey">myemail[at]email.com<h2>

			<img class="img-responsive" src="http://www.picrolls.com/wallpaper/24/24328-3200_Landscape_for_Extra-wide_Screens_Vol_2_No_10.jpg">

			<div class="row">
<div class="col-md-4 col-sm-6">

<p class="lgrey">Ooooo a desert. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum tortor eu ullamcorper sollicitudin. Etiam vitae suscipit mi. Integer consectetur ipsum eget turpis euismod rutrum. Morbi scelerisque sed sapien id placerat. Donec a velit urna. Vestibulum luctus justo porta ligula ullamcorper feugiat. Nam dignissim aliquam metus, nec ullamcorper arcu finibus eget.</p> 

</div>

<div class="col-md-4 col-sm-6">

<p class="lgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum tortor eu ullamcorper sollicitudin. Etiam vitae suscipit mi. Integer consectetur ipsum eget turpis euismod rutrum. Morbi scelerisque sed sapien id placerat. Donec a velit urna. Vestibulum luctus justo porta ligula ullamcorper feugiat. Nam dignissim aliquam metus, nec ullamcorper arcu finibus eget.</p> 

</div>
</div>
      </div>

       <div ng-show="page === 3">
      		<h1 class="dgrey">My Name<h1>
			<h2 class="dgrey">myemail[at]email.com<h2>

			<img class="img-responsive" src="http://www.picrolls.com/wallpaper/24/24318-3200_Landscape_for_Extra-wide_Screens_Vol_2_No_20.jpg">

			<div class="row">
<div class="col-md-4 col-sm-6">

<p class="lgrey">Oooo the sea. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum tortor eu ullamcorper sollicitudin. Etiam vitae suscipit mi. Integer consectetur ipsum eget turpis euismod rutrum. Morbi scelerisque sed sapien id placerat. Donec a velit urna. Vestibulum luctus justo porta ligula ullamcorper feugiat. Nam dignissim aliquam metus, nec ullamcorper arcu finibus eget.</p> 

</div>

<div class="col-md-4 col-sm-6">

<p class="lgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum tortor eu ullamcorper sollicitudin. Etiam vitae suscipit mi. Integer consectetur ipsum eget turpis euismod rutrum. Morbi scelerisque sed sapien id placerat. Donec a velit urna. Vestibulum luctus justo porta ligula ullamcorper feugiat. Nam dignissim aliquam metus, nec ullamcorper arcu finibus eget.</p> 

</div>
</div>
      </div>



<button style="margin-left: 30px;" ng-click="page=1">Page1 </button>
<button ng-click="page=2">Page2 </button>
<button ng-click="page=3">Page3 </button>  

</div>

</body>


</html>