h1{
	font-family: 'Montserrat', sans-serif;
	padding-left: 25px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding-left: 30px;
}

p {
    font-family: 'Alegreya', serif;
    font-size: 14px;
    padding-right: 20px;
    padding-top: 20px;

}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}


img {
    padding-right: 30px;
}



.lgrey{

	color: #989898;
}

.dgrey{

color: #282828;

}

.img-responsive


